// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    font-size: 62.5%;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

hr {
    background-color: white;
}

.header {
    min-height: 15rem;
    background-color: #094d74;

    &__link {
        font-size: 7rem;
        color: #eef0f6;
    }

    &__link:hover {
        text-decoration: none;
        color: $white;
    }
}

.title {
    padding-top: 2rem;
}

.footer {
    min-height: 25rem;
    padding-top: 10rem;
    background-color: #161d2b;

    &__copyright {
        padding-top: 3rem;
        font-size: 3rem;
        color: #eef0f6;
    }
}
