// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import './_variables.scss';

//@import 'bootstrap';

html {
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

hr {
    background-color: white;
}

.header {
    min-height: 15rem;
    background-color: #094d74;

    &__link {
        font-size: 7rem;
        color: #eef0f6;
        text-decoration: none;
    }

    &__link:hover {
        color: white;
    }
}

.title {
    padding-top: 2rem;
}

.footer {
    min-height: 25rem;
    padding-top: 10rem;
    background-color: #161d2b;

    &__copyright {
        padding-top: 3rem;
        font-size: 3rem;
        color: #eef0f6;
    }
}

@media(max-width: 992px) {
    .header {
        min-height: 11rem;

        &__link {
            font-size: 5rem;
        }
    }
}

@media(max-width: 768px) {
    .footer__copyright {
        font-size: 2.5rem;
    }
}

@media(max-width: 350px) {
    .header {
        min-height: 6rem;

        &__link {
            font-size: 3rem;
        }
    }

    .title {
        padding-top: 1rem;
    }

    hr {
        margin: 0 4rem;
    }

    .footer {
        min-height: 20rem;

        .container {
            padding-top: 5rem;
        }

        &__copyright {
            font-size: 2.3rem;
        }
    }
}
