@import url(https://fonts.googleapis.com/css?family=Nunito);html {
  font-size: 62.5%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

hr {
  background-color: white;
}

.header {
  min-height: 15rem;
  background-color: #094d74;
}

.header__link {
  font-size: 7rem;
  color: #eef0f6;
  text-decoration: none;
}

.header__link:hover {
  color: white;
}

.title {
  padding-top: 2rem;
}

.footer {
  min-height: 25rem;
  padding-top: 10rem;
  background-color: #161d2b;
}

.footer__copyright {
  padding-top: 3rem;
  font-size: 3rem;
  color: #eef0f6;
}

@media (max-width: 992px) {
  .header {
    min-height: 11rem;
  }

  .header__link {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .footer__copyright {
    font-size: 2.5rem;
  }
}

@media (max-width: 350px) {
  .header {
    min-height: 6rem;
  }

  .header__link {
    font-size: 3rem;
  }

  .title {
    padding-top: 1rem;
  }

  hr {
    margin: 0 4rem;
  }

  .footer {
    min-height: 30rem;
  }

  .footer__copyright {
    font-size: 2.3rem;
  }
}

